@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
html,
body,
button {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif !important;
  box-sizing: border-box;
  /* --var(primary-color): */
  overflow-x: hidden;
  z-index: 1000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-btn-primary {
  background: #6ecb63 !important;
  border-color: #6ecb63 !important;
}

/* navbar */

.hero-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-image: linear-gradient(#6ecb63, #fff);
}
.d1 {
  margin-top: 80px;
  margin-left: 28%;
  font-size: 24px;
  color: rgb(31, 31, 31);
}
.d2 {
  margin-left: 28%;
  font-size: 84px;
  font-weight: 700;
}
.d3 {
  margin-left: 33.1%;
  font-size: 24px;
}
.hero-text {
  background: -webkit-linear-gradient(#6ecb63, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-logo {
  /* -webkit-text-fill-color: transparent; */

  /* background: -webkit-linear-gradient(#6ecb63, green); */
}
.get-started-btn {
  /* box-sizing: border-box;
  font-size: 24px;
  background-color: #6ecb63;
  border: none;
  border-radius: 24px;
  margin-right: 40px;
  cursor: pointer;
  padding: 8px 16px;
  color: #fff; */
  border-radius: 4px;
  background-color: #6ecb63;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 8px 12px;
  margin-left: 8px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.get-started-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.get-started-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.get-started-btn:hover span {
  padding-right: 25px;
}

.get-started-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.about-btn {
  font-size: 24px;
  background-color: transparent;
  border: 1px;
  cursor: pointer;
  padding: 8px 20px;
  color: black;
  border-radius: 24px;
  margin-right: 40px;
  box-sizing: border-box;
}
.about-btn:hover {
  background-color: #6ecb63;
  border: 1px solif #212121;
  color: #fff;
  /* animation: 1s; */
}
.about-icon {
  /* font-size: 24px; */
  padding: 10px;
  border-radius: 20px;
  background-color: #6ecb63;
}
.wwd {
  margin-top: 80px;
  margin-left: 5%;
  background-color: #f4f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 50px;
}
.wwd-text {
  margin-top: 20px;
  font-size: 32px;
  background: -webkit-linear-gradient(#6ecb63, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wwd > h1 {
  font-size: 64px;
  font-weight: 700;
  background-color: #6ecb63;
  width: 44%;
  text-align: center;
  border-radius: 20px;
}
.wwd-card-wrapper {
  background: #f4f9f9;
  /* margin-left: ; */
  width: 80%;
  margin-bottom: 24px;
}
.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  border-radius: 20px;
  width: 90%;
  margin-left: 5%;
  background-color: #f4f9f9;
}
.why-us-title {
  margin-top: 24px;
  font-size: 64px;
  background-color: #6ecb63;
  width: 90%;
  text-align: center;
  border-radius: 20px;
}

/* .staff-avatar {
  width: 100px;
  height: 100px;
} */

.un-available {
  font-size: 32px;
  font-weight: 500;
  align-items: center;
}
.un-available {
  display: flex;
  /* text-align: center; */
  align-items: center;
  font-size: 32px;
  font-weight: 500;
}
