.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  /* width: 90%; */
  padding: 3% 5%;
  /* background-color: #505050; */
  border-top: 2px solid #505050;
  /* padding-top: 2%; */
  background: #f4f9f9;
  /* margin-top: 60px; */
}
.footer a {
  color: #303030;
}
.link {
  padding-bottom: 4px;
}
.icon {
  padding-right: 8px;
}
.title {
  font-weight: 700;
}
.logo {
  margin-top: 5%;
}

