.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 12px; */
  gap: 0 100px;
  /* border-bottom: 2px solid #212121; */
  background: #6ecb63;
  color: #fff;
  position: relative;
  height: 64px;
  align-items: center;
  padding-left: 64px;
  /* border-bottom: 1px solid #fff; */
}
.menu a {
  height: 64px;
  border-radius: 4px;
  color: #fff;
}
/* .menu a ::before{
  content: "";
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 50%;
  left: 0;
  bottom: 0px;
  align-items: center;
  left: 25%;

} */
.menu a ::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0px;
  align-items: center;
  display: none;
  /* left: 25%; */
}
.menu a ::after :hover {
  display: inline;
  /* content: "";
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 64px;
  left: 0;
  bottom: 0px;
  align-items: center;
  display: contents; */
}
.menu a:hover ::after {
  /* background-color: #fff; */
}
.menu a:hover {
  transform: translateY(-2px);
  color: #f3f2f2;
  transition: 0.2s;
  /* border-bottom: 3px solid #fff; */
}

.rightMenu {
  margin-left: 10px;
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
}
.rightMenu a {
  display: flex;
  /* flex-direction: column; */
  color: #212121;
  align-items: center;
}
.leftMenu {
  margin-left: 10px;
  text-decoration: none;
  /* color: black; */
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 50px;
  /* width: 100%; */
  /* font-size: 500; */
}
.leftMenu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 64px; */
}
.leftMenu a ::hover {
  color: #fff;
}
.icon::hover{
  color: #fff;
}

.icon {
  /* position: relative; */
  /* display: block; */
  /* margin-left:; */
  text-align: center;
  transition: 0.5s;
  align-items: center;
  top: 8px;
  font-size: 28px;
  color: #202020;
}
/* .leftMenu a .icon :hover{
  transform: translateY(-20px);
  display: none;
} */
.text {
  padding-left: 8px;
  color: #202020;
  /* margin-right: 8px; */
}

.logo {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  /* margin-right: 4px; */
  /* flex-direction: row; */
  align-items: center;
  /* background: #6ecb63;y */
}
.logo a {
  /* margin: 0px;
    margin-left: 8px;
    padding: 6px; */
  /* justify-content: center; */
  /* background: #6ecb63; */
}
.leftMenu a {
  font-size: 24px;
  color: #212121;
}
.loginBtn {
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
  color: #212121;
  box-sizing: border-box;
  margin-right: 32px;
  padding-left: 4px;
  border: none;
}
.loginBtn:hover {
  transition: 0.5s;
  color: #fff;
  /* top: -8px; */
}
.signUpBtn {
  box-sizing: border-box;
  font-size: 24px;
  background-color: #6ecb63;
  color: #212121;
  /* border: 1px solif #212121; */
  border: none;
  border-radius: 3px;
  margin-right: 40px;
  cursor: pointer;
  padding: 0px 4px;
  /* color: #fff; */
}

@media screen and (max-width: 1320px) {
  .text {
    display: none;
  }
}
.active {
  /* background-color: #fff; */
  padding: 4px;
  /* border-radius: 12px; */
  border-bottom: 2px solid #fff;
}
.active::hover {
  /* background-color: #fff; */
  /* padding: 13px; */
  color: #202020;
  /* border-radius: 4px; */
}
